<nav>
    <div>
        <strong>Simulador Exámenes Técnicos</strong>
    </div>
    <div>
        <a href="/bancos">Inicio (Comunidad)</a>
        <a href="/dashboard">Mis Bancos</a>
        <a href="/retos">🔥 Retos de Código</a>
        <a href="/bancos/crear" class="btn-crear">+ Crear Banco</a>
        <a href="/logout" class="btn-logout">Cerrar Sesión</a>
    </div>
</nav>